body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: tahoma;
  height: 100vh;
  /* background: linear-gradient(#76aded, #c0ceee); */
}

img {
  border-radius: 15px;
  width: auto;
  height: 10.94rem;
  min-height: 10.94rem;
  
}
.card {
  height: 33rem;
}

.card-body{
  border-radius: 10px;
  margin: 0.95rem auto;
  height: 33vh;
  overflow: auto;
}

h5 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  ;
}

.img-404 {
  width: auto;
}